<%- include('../includes/head') %>


</head>

<body>

<div class="book-page">
    <% if(loggedIn) { %>
        <%- include('../includes/main-header-li') %>
    <% } else { %>
        <%- include('../includes/main-header-nli') %>
    <% } %>

    <div class="col-12 col-md-12 col-lg-12 col-xl-12 mt-5 mb-5">
        <div class="book-section row align-items-center justify-content-center">

            <% if(book.purchaseStatus) { %>
                <div class="row col-sm-9 col-md-12 col-lg-12 col-xl-12 align-items-center justify-content-center">
                    <div class="alert alert-warning col-6 mb-4" role="alert">
                        Ta oferta nie jest aktywna
                    </div>
                </div>
            <% } %>

            <div class="row col-sm-9 col-md-12 col-lg-12 col-xl-12 justify-content-center">
                <div class="col-xl-3 bg-light book-section__main-info-block-1
                 mr-4 p-4">
                    <div class="book-section__book-cover">
                        <div class="book-section__price">
                            <%= book.price %> ZŁ
                        </div>

                        <img src="<%= book.thumbnailUrl %>" alt="Book's cover">
                    </div>

                    <span class="book-section__city book-section__main-data-row mt-4">
                        <svg>
                            <use xlink:href="img/icons/symbol-defs.svg#icon-location"></use>
                        </svg>

                        <%= book.city %>
                    </span>

                    <span class="book-section__date book-section__main-data-row mt-3">
                        <svg>
                            <use xlink:href="img/icons/symbol-defs.svg#icon-calendar"></use>
                        </svg>

                        <%= book.publishDate %>
                    </span>
                </div>

                <div class="book-section__main-info col-xs-7 col-md-7 col-lg-4 col-xl-4 mt-5">
                    <div class="book-section__title">
                        <p><%= book.title %></p>

                        <span class="book-section__sec-identifier">Nazwa</span>
                    </div>

                    <div class="book-section__author">
                        <p>
                            <%= book.author %>
                        </p>

                        <span class="book-section__sec-identifier">Autor</span>
                    </div>

                    <div class="book-section__description mt-4">
                        <p>
                            <%= book.description %>
                        </p>

                        <span class="book-section__sec-identifier">Opis oferty</span>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="book-section__order-options mt-5">
                        <div class="book-section__order-options__seller-data">
                            <div class="book-section__order-options__seller-data__md
                             mb-1 row align-items-center justify-content-center flex-column">
                                <span>sprzedawca</span>
                                <hr>
                                <img class="book-section__order-options__seller-data__md__seller-avatar mt-2"
                                     src="<%= book.sellerAvatar %>" alt="seller's avatar">
                                <h5 class="mt-2">
                                    <%= book.sellerFirstName %> <%= book.sellerLastName %>
                                </h5>
                            </div>

                            <div class="book-section__order-options__seller-data__maild
                             row align-items-center justify-content-center">
                                <%= book.sellerEmail %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-sm-9 col-md-10 col-lg-7 col-xl-6">
                <table class="table book-section__table table-responsive-xs">
                    <tbody>
                    <tr>
                        <td>Liczba stron</td>
                        <td id="book-section__table--pageamount">
                            <%= book.amountOfPages %>
                        </td>
                    </tr>
                    <tr>
                        <td>Język wydania</td>
                        <td id="book-section__table--language">
                            <%= book.language %>
                        </td>
                    </tr>
                    <tr>
                        <td>Numer wydania</td>
                        <td id="book-section__table--releasenum">
                            <%= book.publishNumber %>
                        </td>
                    </tr>
                    <tr>
                        <td>Typ okładki</td>
                        <td id="book-section__table--covertype">
                            <%= book.coverTitle === "Hardcover" ? "Twarda" : "Miękka" %>
                        </td>
                    </tr>
                    <tr>
                        <td>Kategoria</td>
                        <td id="book-section__table--category">
                            <%= book.categoryTitle %>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <%- include('../includes/footer') %>

</div>

</body>
</html>
